<ion-tabs>
  <ion-tab-bar slot="bottom" color="success">
    <ion-tab-button tab="recipes">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Рецепти</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Категорії</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="diets">
      <ion-icon name="ribbon-outline"></ion-icon>
      <ion-label>Дієти</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="interesting">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Цікаво</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>